*{
	margin: 0px;
	padding: 0px;
}

.container{
	position: relative;
	text-align: center;
}

.hidden{
	display: none;
}

#header{
  background-size: 100% 440px;
  height: 400px;
  background-image:linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), 
		url(../images/header.jpg);
	background-repeat: no-repeat;
}

#prof{
	margin: 130px 0px 0px;
	border-radius: 50px;
	height: 100px;
}
img{
	border-radius: 4px;
}
h1{
	color: white;
	font-size: 36px;
	font-family: 'Roboto Slab', serif;
	margin: -230px auto 0px;
	font-weight: 400;	
}

label{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: rgb(51,51,51);
	margin: 15px 15px 0px 0px;
}

input{
	margin: 5px 5px 0px 0px;
}

select{
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgba(66, 180, 214, 0.05);
	outline: none;
	border: 1px solid rgba(66, 180, 214, 0.5);
	border-radius: 6px;
	font-size: 18px;
	padding: 6px;
}

h2{
	color: rgb(66,180,214);
	font-size: 27px;
	font-family: 'Roboto Slab', serif;
	margin: 15px 15px 15px 0px;
}

p{
	margin: 15px 15px 15px 0px;
	line-height: 32px;
}

.small{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: rgb(51,51,51);
}

a.small{
	color: rgba(66, 180, 214);
	margin: 0px;
	justify-content: flex-start;
	text-decoration: none;
}

a.small:hover{
	text-decoration: underline;
}

h4.small{
	color: rgb(230, 181, 11);
	background-color: rgba(230, 181, 11, 0.1);
	font-size: 16px;
	padding: 2px;
	margin-left: 5px;
}
h3.small{
	font-weight: bold;
}

.movie-flex{
	position: relative;
	width: 70%;
	margin: 0px auto 50px;
	padding: 15px;
	display: flex;
	border: 2px  solid rgba(51,51,51,0.1);
	border-radius: 8px;
}

.movie-main{
	position: relative;
	margin-right: 15px;
	min-width: 20%;
}
.movie-main img{
	width: 100%;
	border-radius: 4px;
}

.movie-item{
	position: relative;
	margin-right: 15px;
	justify-content: flex-start;
	color: rgb(51, 51, 51)
	width: 80%;
}

.movie-item h1{
	margin: 0px;
	color: rgb(51, 51, 51)
}

.eye:hover{
	content: url("../images/eye-green.png");
}

.genre{
	display: flex;	
	font-weight: bold;
	margin: 15px 15px 15px 0px;
}

.season-detail{
	position: relative;
	display: flex;
	flex-direction: column;
}

.episode-detail{
	display: flex;
	flex-direction: row;
	margin: 15px 15px 15px 0px;

}
.episode-desc{
	flex-direction: column;
	margin: 0px 15px ;
	width: 75%;
}

.episodeImg{
	width: 25%;
	max-height: 140px;
}

.episodeh3{
	font-size: 1.17em;
	font-weight: bold;
	display: inline-block;
	margin-left: 5px;
}

.episodeSpan{
	font-size: 14px;
	color: gray;
	display: block;
	margin-bottom: 0px;
}

.episodeP{
	margin-top: 0px;
	line-height: 28px;
}

.time{
	padding-top: 60px ;
	padding-bottom: 60px ;
	margin: 0px;
	font-size: 27px;
	font-weight: bold;
}

.time-div{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	color: rgb(51,51,51);
	margin-top: 130	px;
}

.time-head{
	padding-left: 15%;
	color: inherit;
}

.time-dhm{
	padding-right: 15%;
	color: inherit;
}

